{{ define "head" }}
<script type="application/ld+json">
{
    "@context": "http://schema.org",
    "@type": "BlogPosting",
    "mainEntityOfPage": {
        "@type": "WebPage",
        "@id":"{{ .Site.BaseURL }}"
    },
    "headline": "{{ .Title }} - {{ .Site.Title }}",
    "image": "{{ index $.Site.Params.images 0 | absURL }}",
    "datePublished": "{{ .Date.Format "2006-01-02T15:04:05EST" }}",
    "dateModified": "{{ dateFormat "2006-01-02T15:04:05EST" .Lastmod }}",
    "author": {
        "@type": "Person",
        "name": "Nick Amoscato"
    },
    "description": "{{ .Summary }}",
    "publisher": {
        "@type": "Person",
        "name": "Nick Amoscato"
    }
}
</script>
{{ end }}

{{ define "content" }}
<article id="content">
    <h2 class="subtitle">
        <a href="/journal/">Journal</a> / {{ .Date.Format "2006-01-02" }}
    </h2>
    <h1>{{ .Title }}</h1>
    {{ .Content }}
</article>
{{ end }}
