$color-black: #101010;
$color-gray-dark: #565656;
$color-gray: #dadfe2;
$color-gray-light: #f5f6f7;
$color-white: #fdfdfd;
$color-blue-dark: #002b36;
$color-orange: #cb4b16;
$color-orange-light: #e4b29d;

$font-sans-serif: 'Inconsolata', sans-serif;
$font-serif: 'Lora', serif;
$font-serif-heading: 'Playfair Display', serif;

$site-width: 43.75rem;
$breakpoint-sm: 30rem;
