// -------
// Journal
// -------

.journal-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.journal-list-item {
    margin-top: 2em;
}

.journal-list-item-title {
    margin: .4em 0 0;
}

.journal-list-item-description {
    margin: .5em 0 0;
}
