<ul class="social">
    <li class="social-item">
        <a href="mailto:nick@amoscato.com">Email</a>
    </li>
    <li class="social-item">
        <a href="https://www.flickr.com/photos/namoscato/" target="_default">Flickr</a>
    </li>
    <li class="social-item">
        <a href="https://github.com/namoscato" target="_default">GitHub</a>
    </li>
    <li class="social-item">
        <a href="http://www.last.fm/user/namoscato" target="_default">Last.fm</a>
    </li>
    <li class="social-item">
        <a href="https://www.linkedin.com/in/namoscato" target="_default">LinkedIn</a>
    </li>
    <li class="social-item">
        <a href="https://twitter.com/namoscato" target="_default">Twitter</a>
    </li>
    <li class="social-item">
        <a href="https://untappd.com/user/namoscato" target="_default">Untappd</a>
    </li>
</ul>
