body {
    background-color: $color-gray-light;
    color: $color-black;
    font-family: $font-serif;
    margin: 0;
    overflow-x: hidden;
}

html,
body {
    height: 100%;
}

// ----------
// Paragraphs
// ----------

p {
    line-height: 1.7;
    margin: 1.3em 0 0;
}

p a {
    border-bottom: 1px solid $color-orange-light;
    color: $color-orange;
    text-decoration: none;

    &:hover {
        border-bottom-color: $color-orange;
    }
}

// --------
// Headings
// --------

h1,
h2,
h3 {
    font-family: $font-serif-heading;

    > a {
        color: inherit;
        text-decoration: none;
    }
}

h1 {
    line-height: 1.6;
    margin: 0.2em 0 0;
    max-width: 50rem;
}

h2 {
    margin: 1.5em 0 0;
}

.subtitle {
    color: $color-gray-dark;
    font-family: $font-sans-serif;
    font-size: 1.2em;
    font-weight: normal;
    margin: 0;
    text-transform: uppercase;
}

// -----------
// Code Blocks
// -----------

.highlight {
    margin: 1.5em -1.5em;
    overflow-x: auto;
}

code,
pre {
    font-family: Hack, monospace;
}

code {
    background-color: $color-gray;
    color: $color-blue-dark;
    padding: 0.2em 0.3em;
}

pre {
    display: inline-block;
    margin: 0;
    padding: 1.5em;
}

// ------------
// Block Quotes
// ------------

blockquote {
    border-left: 2px solid $color-blue-dark;
    margin: 0;
    padding: 0 0 0 1.5em;
}
