#content {
    margin: 5em auto;
    padding: 0 4em;
    max-width: 43.75em;
    position: relative;

    &.is-homepage {
        height: 100%;
        margin: 2em auto;
        top: 10%;
    }
}

#homepage-content,
#stream {
    position: absolute;
    top: 65%;
}

#homepage-content {
    margin: 450px 0 5em;
    left: 0;
    padding: 0 4em;
    right: 0;
}

#social {
    font-family: $font-sans-serif;
    list-style-type: none;
    margin-top: 4em;
    text-align: center;
}

#stream {
    height: 550px;
    overflow-x: hidden;
    width: 100%;
}

// -----
// Frame
// -----

.frame {
    background-color: $color-white;
    position: fixed;
}

#frame-top,
#frame-right,
#frame-left {
    top: 0;
}

#frame-top,
#frame-bottom,
#frame-left {
    left: 0;
}

#frame-top,
#frame-bottom {
    height: 2rem;
    width: 100%;
}

#frame-right,
#frame-left {
    height: 100%;
    width: 2rem;
}

#frame-right {
    right: 0;
}

#frame-bottom {
    bottom: 0;
}

// -------------
// Media Queries
// -------------

@media (min-width:43em) {
    #stream {
        overflow-x: visible;
    }
}

@media (min-height:43em) {
    #homepage-content,
    #stream {
        top: 55%;
    }
}
