#content {
    margin: 2em auto;
    padding: 0 4em;
    max-width: 60em;
    position: relative;
    top: 10%;
}

#social,
#stream {
    position: absolute;
    top: 65%;
}

#social {
    font-family: $font-sans-serif;
    font-size: 0.85em;
    left: 0;
    list-style-type: none;
    margin: 450px 0 5em;
    padding: 0 4em;
    right: 0;
    text-align: center;
}

#stream {
    width: 100%;
}

// -----
// Frame
// -----

.frame {
    background-color: $white;
    position: fixed;
}

#frame-top,
#frame-right,
#frame-left {
    top: 0;
}

#frame-top,
#frame-bottom,
#frame-left {
    left: 0;
}

#frame-top,
#frame-bottom {
    height: 2rem;
    width: 100%;
}

#frame-right,
#frame-left {
    height: 100%;
    width: 2rem;
}

#frame-right {
    right: 0;
}

#frame-bottom {
    bottom: 0;
}

// -------------
// Media Queries
// -------------

@media (min-height:43em) {
    #social,
    #stream {
        top: 55%;
    }
}
