.title {
    font-size: 1.5em;
}

.title-sub {
    color: $color-gray-dark;
    font-family: $font-sans-serif;
    font-size: 1.2em;
    font-weight: normal;
    text-transform: uppercase;

    > a {
        color: inherit;
        text-decoration: none;
    }
}

.title-sub-intro {
    &::after {
        content: '—';
        margin-left: 0.5em;
    }
}

// ------
// Social
// ------

.social-item {
    font-size: 1.3em;
    display: block;
    line-height: 2.5em;

    > a {
        color: $color-gray-dark;
        text-decoration: none;

        &:hover {
            color: lighten($color-gray-dark, 20%);
        }
    }
}

// ------
// Stream
// ------

.stream-item {
    color: $color-white;
    display: inline-block;
    font-family: $font-sans-serif;
    overflow: hidden;
    position: absolute;
    text-align: right;
    text-decoration: none;

    > img {
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
    }
}

.stream-item-photo:hover {
    > img {
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
        opacity: 0.8;
    }

    .stream-title {
        display: none;
    }
}

.stream-item-text:hover {
    opacity: 0.85;
}

.stream-title {
    opacity: 0.6;
}

// -------
// Journal
// -------

.journal-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.journal-list-item {
    margin-top: 1.7em;
}

.journal-list-item-title {
    margin: 0 0 .3em;

    > a {
        color: inherit;
        text-decoration: none;
    }
}

// -------------
// Media Queries
// -------------

@media (min-width:30em) {
    .title {
        font-size: 2em;
    }
}

@media (min-width:40em) {
    .social-item {
        display: inline;
        font-size: 1em;
        line-height: 2em;
        margin: 0 0.8em;
    }
}

@media (min-height:43em) and (min-width:45em) {
    .title {
        font-size: 2.6em;
    }
}
