// -----
// Frame
// -----

.frame {
    background-color: $color-white;
    position: fixed;
}

#frame-top,
#frame-right,
#frame-left {
    top: 0;
}

#frame-top,
#frame-bottom,
#frame-left {
    left: 0;
}

#frame-top,
#frame-bottom {
    height: 1rem;
    width: 100%;
}

#frame-right,
#frame-left {
    height: 100%;
    width: 1rem;
}

#frame-right {
    right: 0;
}

#frame-bottom {
    bottom: 0;
}

@media (min-width: $breakpoint-sm) {
    #frame-top,
    #frame-bottom {
        height: 2rem;
    }

    #frame-right,
    #frame-left {
        width: 2rem;
    }
}
