{{ partial "header-before.html" . }}
{{ partial "header-after.html" . }}

<div id="content">
    <h1>Journal</h1>
    <ul class="journal-list">
    {{ range .Data.Pages  }}
        <li class="journal-list-item">
            <h2 class="subtitle">{{ .Date.Format "2006-01-02" }}</h2>
            <h2 class="journal-list-item-title">
                <a href="{{ .Permalink }}">{{ .Title }}</a>
            </h2>
            <p class="journal-list-item-description">{{ .Description }}</p>
        </li>
    {{ end }}
    </ul>
</div>

{{ partial "frame.html" . }}
{{ partial "footer.html" . }}
